
.header {
    padding: 40px;
    text-align: center;
    background: #49b9a3;
    color: white;
    font-size: 20px;
    top: 0;
  }

h1 a, h2 a {
    color: #ffffff;

}

h5 a {
    color: #ffffff;

}

h3 {
    padding-left: 40;
    padding-bottom: 20;
}



.db_table{
    padding-left: 40;
    padding-right: 40;
}